<form action="/recipes" method="post">
Recipe's Name: <input type="text" name="name"> <br>
Recipe's ingredients: <input type="text" name="ingredients"><br>
Recipe's Cook Time: <input type="text" name="cook_time"><br>
<input type="submit" value="submit"><br>
</form>
