<h1>Create a recipe</h1>

<form action="/recipes" method="post">
    Name: <br><br><input type="text" name="name"><br><br>
    Ingredients: <br><br><textarea rows="4" cols="50" name="ingredients"></textarea><br><br>
    Cook Time: <br><br><input type="number" name="cook_time"><br><br>
    <button type="submit" id="submit">Submit</button>
</form>