<form action="/recipes" method="POST">
    <label for="Recipe Name">Recipe Name:</label>
    <input id="name" type="text" name="name">
    <label for="Recipe Ingredients">Recipe Ingredients:</label>
    <input id="ingredients" type="text" name="ingredients">
    <label for="Cook Time">Cook Time:</label>
    <input id="cook_time" type="text" name="cook_time">
    <button type="submit" value="submit">Submit</button>

</form>